.image-item {
  border-radius: 10px;
  overflow: hidden;
  width: 120px;
  height: 120px;
  position: relative;
}

.image {
  padding-top: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
